<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>스마트 도어락</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
.wrap {
	width: 100%;
	margin: 10px auto;
	position: relative;
}
.wrap img {
	width: 100%;
	vertical-align: middle;
}
.text {
	padding: 5px 10px;
    color:azure;
	text-align: center;
	position: absolute;
    font-size: xx-large;
	top: 10%;
	right: 15%;
}
.das{
    float: left;
}
body{
    background-color: #f2f2f2;
}

    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active">
                    <img src="../smartlocklogo1.png" width="100" height="50" onclick="location.href='/'">
                  </li>
                  <li>
                      <a id="joinmenu" href="/board/join">회원가입</a>
                  </li>
                  <li>
                      <a id="loginmenu" href="/board/login">로그인</a>
                  </li>

              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
<br>
    <div class="wrap"> 
    <div class="image"><img src="./doorlock.jpg" width="600" height="300"></div>
    <div class="text">
        <h1>Smart Doorlock</h1>
    </div>
    <br>
    <br>
    <div class="image"><img src="../gfsdf.png" width="600" height="300"></div>
    <br>
    <br>
    <div class="image"><img src="../qqqqq.png" width="600" height="300"></div>
    <br>
    <br>
    </div>
    <div class="das"><img src="../fsdfsd.jpg" width="300" height="300">
    </div>
    <p style="font-size: 30px;"><b>소형 카메라를 통해 실시간 영상과 사진 확인 가능 </b></p>
    <h5>집안에서 밖에 누가 와있는지 실시간으로 영상을 볼 수 있고, 누군가 집 문앞에 3초간 있으면 사진을 저장 해놓아서 도둑이들어왔거나 모르는 사람이 문 앞에 있었을 경우 사진을 통해 빠르게 신고해서 범인을 잡기가 수월함 </h5>

<br>
<br>

   

  </body>
</html>
