<!DOCTYPE html>
<html>
<head>
	<title>영상</title>
	<script type="text/javascript">
		function btnclick(_url){
			$.ajax({
				url : _url,
				type : 'post',
				success: function(data) {
					$('#include_page').html(data);
				},
					error: function() {
					$('#include_page').text('페이지 점검중 입니다.');
				}
			});
		}
	</script>
   
</head>

<body>

	
</body>

</html>